<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>How About That?</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div>
            <header>
                <h1>How About That?</h1>
                <h2>A tech blog for the easily impressed</h2>
            </header>
            <main>
                {{{ body }}}
            </main>
        </div>

        {{!-- <script src=""></script> --}}
    </body>
</html>