<div class="profile-management">
    <form class="profile-manage-form">
        <h3>{{name}}: Profile Management</h3>
        <div>
            <label for="profile-password-current">Current password:</label><br/>
            <input type="password" id="profile-password-current"/>
        </div>
        <div>
            <label for="profile-password-change">New password:</label><br/>
            <input type="password" id="profile-password-change"/>
        </div>
        <div>
            <label for="profile-password-confirm">Confirm new password:</label><br/>
            <input type="password" id="profile-password-confirm"/>
        </div>
        <div>
            <button class="profile-manage-button" type="button">Change Password</button>
        </div>
    </form>
</div>