:root {
    --preview-background: rgba(0, 139, 255, 0.5)
}

body {
    background-image: url(../images/space.jpg);
}

.top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 25px;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
    background-color: aqua;
    background-image: radial-gradient(aqua, blue);
}

.main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.post-preview {
    display: flex;
    width: 600px;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 5px;
    background-color: var(--preview-background);
    border: 2px solid blue;
    border-radius: 15px;
}

.post-preview > .post-meta {
    justify-content: space-around;
}

.post-meta > p {
    margin-left: 2px;
    margin-right: 2px;
    border: 0.5px solid aqua;
    border-radius: 15px;
    padding: 10px;
    justify-self: center;
}

.login-page > form {
    display: flex;
    flex-flow: column wrap;
    width: 500px;
    align-items: center;
    border: 2px solid blue;
    border-radius: 15px;
    background-color: var(--preview-background);
}
.login-page > form div {
    margin-bottom: 20px;
}